<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>software Listing</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>
<style>



</style>

<body>
    <!-- nav bar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Just_software_logo_blauer_kreis_auf_transparentem_hintergrund_%282000x638px%29.png"
                    alt="" width="150px">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Find Software
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div style="display:flex; gap:50px;">
                                <li>
                                    <a class="dropdown-item" href="#">Accounting</a>
                                    <ul>
                                        <li><a href="#">Accounting Software</a></li>
                                        <li><a href="#">Cheque Printing System</a></li>
                                        <li><a href="#">Financial CRM</a></li>
                                        <li><a href="#">Tax Software</a></li>
                                        <li><a href="#">Invoice & Billing Software</a></li>
                                        <li><a href="#">Another Software</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Sales & Marketing</a>
                                    <ul>
                                        <li><a href="#">CRM Software</a></li>
                                        <li><a href="#">Email and SMS</a></li>
                                        <li><a href="#">Help Desk Software</a></li>
                                        <li><a href="#">Marketing Automation</a></li>
                                        <li><a href="#">Sales Management</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">HR Software</a>
                                    <ul>
                                        <li><a href="#">HR Software</a></li>
                                        <li><a href="#">Payroll Software</a></li>
                                        <li><a href="#">Attendance</a></li>
                                        <li><a href="#">Management</a></li>
                                        <li><a href="#">Employee Management</a></li>
                                        <li><a href="#">Employee Management</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Business</a>
                                    <ul>
                                        <li><a href="#">ERP Software</a></li>
                                        <li><a href="#">Appointment Software</a></li>
                                        <li><a href="#">BI Software</a></li>
                                        <li><a href="#">Business Management</a></li>
                                        <li><a href="#">BPM Software</a></li>
                                    </ul>
                                </li>
                            </div>
                            <hr>
                            <div style="display:flex; gap:50px;">
                                <li>
                                    <a class="dropdown-item" href="#">Hotel & Restaurants</a>
                                    <ul>
                                        <li><a href="#">Hotel ERP and PMS</a></li>
                                        <li><a href="#">Club Management</a></li>
                                        <li><a href="#">Golf Management</a></li>
                                        <li><a href="#">Restaurant</a></li>
                                        <li><a href="#">Management</a></li>
                                        <li><a href="#">Booking Software</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Education</a>
                                    <ul>
                                        <li><a href="#">Education Software</a></li>
                                        <li><a href="#">E-Learning & LMS</a></li>
                                        <li><a href="#">School ERP Software</a></li>
                                        <li><a href="#">Campus Management</a></li>
                                        <li><a href="#">Library Management</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Health Care</a>
                                    <ul>
                                        <li><a href="#">EMR Software</a></li>
                                        <li><a href="#">HIS</a></li>
                                        <li><a href="#">Lab Management</a></li>
                                        <li><a href="#">Medical Billing</a></li>
                                        <li><a href="#">Software</a></li>
                                        <li><a href="#">Doctor Appointment</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Construction</a>
                                    <ul>
                                        <li><a href="#">Project Software</a></li>
                                        <li><a href="#">Procurement Software</a></li>
                                        <li><a href="#">Apartment Software</a></li>
                                        <li><a href="#">Real Estate Software</a></li>
                                        <li><a href="#">Planning Software</a></li>
                                    </ul>
                                </li>
                            </div>
                            <hr>
                            <div style="display:flex; gap:50px;">
                                <li>
                                    <a class="dropdown-item" href="#">Retail & E-Commerce</a>
                                    <ul>
                                        <li><a href="#">Inventory Software</a></li>
                                        <li><a href="#">Point of Sale System</a></li>
                                        <li><a href="#">Outlet & Store Software</a></li>
                                        <li><a href="#">Billing Software</a></li>
                                        <li><a href="#">E-Commerce Software</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Web & Online</a>
                                    <ul>
                                        <li><a href="#">Web Hosting</a></li>
                                        <li><a href="#">Cloud Hosting Software</a></li>
                                        <li><a href="#">Web Security Software</a></li>
                                        <li><a href="#">Web Analytics</a></li>
                                        <li><a href="#">Digital Marketing & SEO</a></li>
                                        <li><a href="#">Tools</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Data Management</a>
                                    <ul>
                                        <li><a href="#">Backup Software</a></li>
                                        <li><a href="#">Data Management</a></li>
                                        <li><a href="#">Software</a></li>
                                        <li><a href="#">data Recovery Software</a></li>
                                        <li><a href="#">Electronic Data</a></li>
                                        <li><a href="#">Interchange</a></li>
                                        <li><a href="#">Information Extractor</a></li>
                                        <li><a href="#">Software</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Transportation</a>
                                    <ul>
                                        <li><a href="#">GPS Tracking</a></li>
                                        <li><a href="#">Taxi Booking App</a></li>
                                        <li><a href="#">Shipping & Delivery</a></li>
                                        <li><a href="#">Manufacturing</a></li>
                                        <li><a href="#">Software</a></li>
                                        <li><a href="#">Warehouse</a></li>
                                        <li><a href="#">Management</a></li>
                                    </ul>
                                </li>
                            </div>
                        </ul>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-center" href="#" id="findServiceDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Find Service
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="findServiceDropdown">
                            <div style="display:flex; gap:50px;">
                                <li>
                                    <a class="dropdown-item" href="#">Blackchain Company</a>
                                    <ul>
                                        <li><a href="#">Bitcoin</a></li>
                                        <li><a href="#">Crypto</a></li>
                                        <li><a href="#">Crypo Consulting</a></li>
                                        <li><a href="#">Crypto Public Relations</a></li>
                                        <li><a href="#">Fintech</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Cloud Hosting Company</a>
                                    <ul>
                                        <li><a href="#">AWS Hosting</a></li>
                                        <li><a href="#">Azure Hosting</a></li>
                                        <li><a href="#">Cloud Computing</a></li>
                                        <li><a href="#">Email Hosting</a></li>
                                        <li><a href="#">Web Hosting</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Digital Marketing Company</a>
                                    <ul>
                                        <li><a href="#">SEO</a></li>
                                        <li><a href="#">Google Advertising</a></li>
                                        <li><a href="#">Bing Ads</a></li>
                                        <li><a href="#">OTT Advertising</a></li>
                                        <li><a href="#">Email Marketing</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Health Care IT Company</a>
                                    <ul>
                                        <li><a href="#">Medical Billing</a></li>
                                        <li><a href="#">Medical IT Consulting</a></li>
                                        <li><a href="#">Medical Tourism</a></li>
                                        <li><a href="#">Medical Transcription</a></li>

                                    </ul>
                                </li>
                            </div>
                            <hr>
                            <div style="display:flex; gap:50px;">
                                <li>
                                    <a class="dropdown-item" href="#">Mobile App Development<br> Company</a>
                                    <ul>
                                        <li><a href="#">Android App</a></li>
                                        <li><a href="#">Blackberry App</a></li>
                                        <li><a href="#">Game Development</a></li>
                                        <li><a href="#">IOS App Development</a></li>
                                        <li><a href="#">Windows App</a></li>
                                        <li><a href="#">Development</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Media & Design <br>Company</a>
                                    <ul>
                                        <li><a href="#">2D/3D Animation</a></li>
                                        <li><a href="#">Graphic Design</a></li>
                                        <li><a href="#">Interior Design</a></li>
                                        <li><a href="#">UI/UX Development</a></li>
                                        <li><a href="#">VFX Development</a></li>
                                        <li><a href="#">Studio</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Software & IT Consulting <br>Company</a>
                                    <ul>
                                        <li><a href="#">Big Data Consultant</a></li>
                                        <li><a href="#">Hadoop Consultant</a></li>
                                        <li><a href="#">Hubspot Consultant</a></li>
                                        <li><a href="#">Tax Software</a></li>
                                        <li><a href="#">Quickbooks Consultant</a></li>
                                        <li><a href="#">Salesforce Consultant</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Web Development<br> Company</a>
                                    <ul>
                                        <li><a href="#">Ajax Development</a></li>
                                        <li><a href="#">Angular Js</a></li>
                                        <li><a href="#">Development</a></li>
                                        <li><a href="#">Laravel Development</a></li>
                                        <li><a href="#">PHP Development</a></li>
                                        <li><a href="#">Code Ignitor</a></li>
                                    </ul>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-center" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-center" aria-current="page" href="price.html">Register Your
                            Software</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-center" aria-current="page" href="">My Listing</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <button id="loginBtn" class="btn btn-outline-success">Login</button>

                <!-- Popup Container -->
                <div id="popupContainer" class="popup-container">
                    <div id="loginPopup" class="popup">
                        <!-- Close button -->
                        <button id="closeBtn" class="close-btn">&times;</button>
                        <!-- Login Form -->
                        <form id="loginForm" class="form">
                            <h2>Login</h2>
                            <div class="form-group">
                                <input type="text" id="username" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="password" placeholder="password" required>
                            </div>


                            <button type="submit">Login</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </nav>
    <!-- Price Start -->
    <div class="container" style="padding-top:100px;">
        <div class="row">
            <div class="col-md-8">
                <div class="d-flex">
                    <h6 style="color:gray;">Home /</h6>
                    <h6>Submit Your Software</h6>
                </div>
                <hr>
                <div>
                    <h3>Submit Your Software</h3>
                    <hr>
                </div>
                <div class="box-01">
                    <h3> <i class="fa-solid fa-dollar-sign"></i> Accounting & Finance</h3>
                    <div class="dummy-box">
                        <div style="display: flex; gap:30px;">
                            <h4 style="color: gray;">Step : 1</h4>
                            <h3>General</h3>
                        </div>
                        <h6 style="color: gray;">General information about the listing. Enter its title, description and
                            featured image</h6>

                    </div>
                    <br>
                    <div class="form-group">
                        <label for="name">Text:</label>
                        <input type="text" id="name" name="name" required>
                    </div>

                    <div class="form-group">
                        <label for="message">Description:</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <label for="imageUpload">Featured Image:</label><br>
                        <input type="file" id="imageUpload" name="imageUpload"><br><br>

                    </form>

                </div>
                <br>
                <div class="justify-content-end">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="brand.html" tabindex="-1" aria-disabled="true">Proceed to next step</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="brand.html">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                

            </div>
            <div class="col-md-4">
                <div class="containers">
                    <h2>Progress</h2>
                    <div class="num-gap">
                        <h6 class="num-active">1</h6>
                        <h6>General</h6>
                    </div>
                    <hr>
                   
                    <div class="num-gap">
                        <a href="brand.html"><h6 class="num-deactive">2.</h6></a>
                        <a href="brand.html"><h6>Branding</h6></a>
                        
                       
                    </div>
                 
                    <div class="num-gap">
                        <a href="video.html"><h6 class="num-deactive">3.</h6></a>
                       <a href="video.html"> <h6>Video</h6></a>
                    </div>
                 
                    <div class="num-gap">
                        <a href="prices.html."><h6 class="num-deactive">4.</h6></a>
                       <a href="prices.html"> <h6>Price</h6></a>
                    </div>
                 
                    <div class="num-gap">
                        <a href="listing.html"><h6 class="num-deactive">5.</h6></a>
                        <a href="listing.html"><h6>Listing categories</h6></a>
                    </div>
                   
                    <div class="num-gap">
                       <a href="feature.htlm"> <h6 class="num-deactive">6.</h6></a>
                       <a href="feature.html"> <h6>Features</h6></a>
                    </div>
                 
                    <div class="num-gap">
                       <a href="specification.htlm"> <h6 class="num-deactive">7.</h6></a>
                       <a href="specification.htlm"> <h6>Specification</h6></a>
                    </div>
                  
                    <div class="num-gap">
                        <a href="faq.html"><h6 class="num-deactive">8.</h6></a>
                       <a href="faq.html"> <h6>FAQ</h6></a>
                    </div>
                   
                    <div class="num-gap">
                       <a href="contact.htlm"> <h6 class="num-deactive">9.</h6></a>
                      <a href="contact.html">  <h6>Contact</h6></a>
                    </div>
                   
                   
                    
                   
                </div>

            </div>
        </div>

    </div>

    <!-- Price end -->
    <!-- footer start -->
    <br>
    <section>
        <div class="container-fluid" style="background-color:#001452; padding:50px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" style="color: #fff;">
                        <h3>Who we are</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laudantium saepe enim similique
                            vel
                            nostrum.</p>

                    </div>
                    <div class="col-md-3" style="color: #fff;">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href=""></a>Home</li>
                            <li><a href=""></a>Find Software</li>
                            <li><a href=""></a>Find Services</li>
                            <li><a href=""></a>About</li>
                            <li><a href=""></a>FAQs</li>


                        </ul>

                    </div>
                    <div class="col-md-3" style="color: #fff;">
                        <h3>Contact Us</h3>
                        <h6> <i class="fa-solid fa-location-dot"></i> Nelson Tower, 4th wing, Ground floor, Nelson
                            Manickam Rd, Nungambakkam, Chennai, Tamil Nadu 600029.</h6>
                        <br>
                        <h6> <i class="fa-solid fa-envelope"></i> info@dbotdigital.com</h6>
                        <br>
                        <h6> <i class="fa-solid fa-phone"></i> +91 9715954300</h6>


                    </div>
                    <div class="col-md-3" style="color: #fff;">
                        <h3>logo</h3>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Just_software_logo_blauer_kreis_auf_transparentem_hintergrund_%282000x638px%29.png"
                            alt="" width="150px">
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>

                </div>
                <hr style="color: #fff;">
                <div class="text-center">
                    <h6 style="color: #fff;">Copyrights © All Rights Reserved 2024 | Designed By Dbot Digital</h6>
                </div>

            </div>


        </div>

    </section>
    <!-- footer end -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById('loginBtn').addEventListener('click', function () {
            document.getElementById('popupContainer').style.display = 'flex';
        });

        document.getElementById('popupContainer').addEventListener('click', function (e) {
            if (e.target.id === 'popupContainer') {
                document.getElementById('popupContainer').style.display = 'none';
            }
        });


        document.addEventListener('DOMContentLoaded', function () {
            // Get the close button
            var closeBtn = document.getElementById('closeBtn');

            // Get the popup container
            var popupContainer = document.getElementById('popupContainer');

            // Add click event listener to the close button
            closeBtn.addEventListener('click', function () {
                // Hide the popup container
                popupContainer.style.display = 'none';
            });
        });
    </script>

</body>

</html>