{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .no-underline {
        text-decoration: none;
    }

    .accordion-item {
        margin-bottom: 20px;
    }
    .accordion-button {
        background-color: #007bff;
        color: #fff;
    }
    .accordion-button:hover {
        background-color: #0056b3;
    }
    .accordion-body {
        background-color: #f8f9fa;
        padding: 10px 20px;
    }
    .accordion-body ul {
        list-style-type: none;
        padding: 0;
    }
    .accordion-body ul li {
        margin-bottom: 5px;
    }
    .accordion-body ul li a {
        color: #333;
        text-decoration: none;
    }
    .accordion-body ul li a:hover {
        color: #007bff;
    }
    /* Add your custom styles here */
    .animated-image {
        animation-duration: 2s;
        animation-name: slideInLeft;
    }

    @keyframes slideInLeft {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .featured-card {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .featured-card img {
        width: 100%;
        height: auto;
    }

    .featured-card .card-body {
        padding: 20px;
    }

    .btn-one {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-one:hover {
        background-color: #0056b3;
    }

    .btn-two {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .btn-two:hover {
        background-color: #0056b3;
    }

    .no-underline {
        text-decoration: none;
    }

.anim-text span {
        font-size: 120px;
        line-height: 160px;
        margin-left: -10px;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        background: url({% static 'img/back.png' %});
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
    }
@keyframes back{
        100%{
            background-position:2000px 0;
        }   }
    
    
    
</style>
    <!-- nav bar end -->
    <!-- banner section start -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap" rel="stylesheet">
    
    <section style="background-image: url({% static 'img/9186163.jpg' %}); background-size: cover;">
        <div class="container-fluid" style="padding-top: 100px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center animated-image" style="padding-top: 20%">
                        <h1 class="anim-text" style="font-family: 'K2D', sans-serif;">
                            GROW YOUR<br>
                            <span>BUSINESS</span><br>
                            WITH OUR SUGGESTIONS
                        </h1>
                        <h6 class="animated-text" style="font-family: 'K2D', sans-serif; font-weight: 400; color: #666;">Search Software in more than 300+ Business Categories. Find Now!</h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'img/coworking-male-programmer-writing-program-code.gif' %}" alt=""
                         class="img-fluid animated-image">
                </div>
            </div>
        </div>
    </section>
    

    
<!-- End Hero Section -->
<br><br>
<!-- Featured Software Section -->
<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="featured-card">
                <img src="https://www.finoit.com/wp-content/uploads/2022/09/important-types-of-software.jpg"
                     alt="" class="img-fluid">
                <div class="card-body">
                    <h1>Featured Software</h1>
                    <p>List of the most interesting software in our system submitted by software companies. Browse software in 300+ categories!</p>
                    <a href="#" class="btn-one">View All Categories <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                {% for software in premium_software %}
                <div class="col-md-4">
                    <div class="featured-cards">
                        <img src="{{ software.image.url }}" alt="" class="img-fluid">
                        <div class="card-body">
                            <h6>₹{{ software.amount }} Per Month</h6>
                            <div class="text-center">
                                <a href="{% url 'view_software' software_id=software.id %}" class="btn-two no-underline">{{ software.heading }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
    
    <br>
    <!-- Featured Software end -->

    <!--  slider start-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{% static 'img/softwear_1.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'img/softwear_2.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/softwear_3.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <br>

    <!--  slider end-->
    <!-- Popular Categories strat -->
    <section class="container-fluid" style="background-color: #001452; padding: 50px 20px;">
        <div class="container">
            <div class="text-center">
                <h1 style="color: #fff; font-size: 36px; font-weight: bold;">Find the Right Software & Service Providers</h1>
            </div>
            <div class="row" style="padding: 50px 0;">
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="/img/get-wide-options-new.svg" alt="" width="100px">
                        <div style="color: #fff; margin-top: 20px;">
                            <h4 style="font-size: 24px; font-weight: bold;">Get Wide Options</h4>
                            <p style="font-size: 18px;">Choose from over 50k+ software and services as per your requirement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="/img/verified-reviews-new.svg" alt="" width="100px">
                        <div style="color: #fff; margin-top: 20px;">
                            <h4 style="font-size: 24px; font-weight: bold;">Verified Reviews</h4>
                            <p style="font-size: 18px;">Over 40,000 verified reviews from users to help you make informed decisions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="/img/free-software-recommendations-new.svg" alt="" width="100px">
                        <div style="color: #fff; margin-top: 20px;">
                            <h4 style="font-size: 24px; font-weight: bold;">Free Software Recommendations</h4>
                            <p style="font-size: 18px;">Get personalized software recommendations from our product experts.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="call-btn" style="padding: 15px 30px; font-size: 18px; font-weight: bold; background-color: #fff; color: #001452; border: none; border-radius: 5px;">Request A Call Back</button>
            </div>
        </div>
    </section>
    
    <!-- Popular Categories end -->
    <br>
    <!-- SERVICE CATEGORIES START -->
    <section>
        <div class="container">
            <div class="text-center">
                <h2>VIEW ALL SERVICE CATEGORIES</h2>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="accordion" id="accordionFlushExample1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Marketing & Advertising
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample1">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Bitcoin</a></li>
                                        <li><a href="#">Crypto</a></li>
                                        <li><a href="#">Crypo Consulting</a></li>
                                        <li><a href="#">Crypto Public Relations</a></li>
                                        <li><a href="#">Fintech</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Cloud Hosting Company
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample1">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">AWS Hosting</a></li>
                                        <li><a href="#">Azure Hosting</a></li>
                                        <li><a href="#">Cloud Computing</a></li>
                                        <li><a href="#">Email Hosting</a></li>
                                        <li><a href="#">Web Hosting</a></li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwos">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwos" aria-expanded="false"
                                    aria-controls="flush-collapseTwos">
                                    Digital Marketing Company
                                </button>
                            </h2>
                            <div id="flush-collapseTwos" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwos" data-bs-parent="#accordionFlushExample1">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">SEO</a></li>
                                        <li><a href="#">Google Advertising</a></li>
                                        <li><a href="#">Bing Ads</a></li>
                                        <li><a href="#">OTT Advertising</a></li>
                                        <li><a href="#">Email Marketing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwoo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwoo" aria-expanded="false"
                                    aria-controls="flush-collapseTwoo">
                                    Health Care IT Company
                                </button>
                            </h2>
                            <div id="flush-collapseTwoo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwoo" data-bs-parent="#accordionFlushExample1">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Medical Billing</a></li>
                                        <li><a href="#">Medical IT Consulting</a></li>
                                        <li><a href="#">Medical Tourism</a></li>
                                        <li><a href="#">Medical Transcription</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="accordion" id="accordionFlushExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    Mobile App Development Company
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Android App</a></li>
                                        <li><a href="#">Blackberry App</a></li>
                                        <li><a href="#">Game Development</a></li>
                                        <li><a href="#">IOS App Development</a></li>
                                        <li><a href="#">Windows App</a></li>
                                        <li><a href="#">Development</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    Media & Design Company
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">2D/3D Animation</a></li>
                                        <li><a href="#">Graphic Design</a></li>
                                        <li><a href="#">Interior Design</a></li>
                                        <li><a href="#">UI/UX Development</a></li>
                                        <li><a href="#">VFX Development</a></li>
                                        <li><a href="#">Studio</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFours">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFours" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    Software & IT Consulting Company
                                </button>
                            </h2>
                            <div id="flush-collapseFours" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFours" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Big Data Consultant</a></li>
                                        <li><a href="#">Hadoop Consultant</a></li>
                                        <li><a href="#">Hubspot Consultant</a></li>
                                        <li><a href="#">Tax Software</a></li>
                                        <li><a href="#">Quickbooks Consultant</a></li>
                                        <li><a href="#">Salesforce Consultant</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFourr">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFourr" aria-expanded="false"
                                    aria-controls="flush-collapseFourr">
                                    Web Development Company
                                </button>
                            </h2>
                            <div id="flush-collapseFourr" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFourr" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Ajax Development</a></li>
                                        <li><a href="#">Angular Js</a></li>
                                        <li><a href="#">Development</a></li>
                                        <li><a href="#">Laravel Development</a></li>
                                        <li><a href="#">PHP Development</a></li>
                                        <li><a href="#">Code Ignitor</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SERVICE CATEGORIES END -->
    <br>
    <!-- SOFTWARE CATEGORIES START -->

    <section>
        <div class="container">
            <div class="text-center">
                <h2>VIEW ALL SOFTWARE CATEGORIES</h2>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="accordion accordion-flush" id="accordionFlushExample3">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    Accounting
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample3">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Accounting Software</a></li>
                                        <li><a href="#">Cheque printing System</a></li>
                                        <li><a href="#">Financial CRM</a></li>
                                        <li><a href="#">Tax Software</a></li>
                                        <li><a href="#">Invoice & Billing</a></li>
                                        <li><a href="#">Software</a></li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSix" aria-expanded="false"
                                    aria-controls="flush-collapseSix">
                                    Sales & Marketing
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample3">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">CRM Software</a></li>
                                        <li><a href="#">Email and SMS</a></li>
                                        <li><a href="#">Help Desk Software</a></li>
                                        <li><a href="#">Marketing Automation</a></li>
                                        <li><a href="#">Sales Management</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                    aria-controls="flush-collapseSeven">
                                    HR Software
                                </button>
                            </h2>
                            <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample3">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">HR Software</a></li>
                                        <li><a href="#">Payroll Software</a></li>
                                        <li><a href="#">Attendance</a></li>
                                        <li><a href="#">Management</a></li>
                                        <li><a href="#">Employee Management</a></li>
                                        <li><a href="#">HCM Software</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseEight" aria-expanded="false"
                                    aria-controls="flush-collapseEight">
                                    Business
                                </button>
                            </h2>
                            <div id="flush-collapseEight" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample4">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">ERP Software</a></li>
                                        <li><a href="#">Appointment Software</a></li>
                                        <li><a href="#">BI Software</a></li>
                                        <li><a href="#">Business Management</a></li>
                                        <li><a href="#">BPM Software</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingNine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseNine" aria-expanded="false"
                                    aria-controls="flush-collapseNine">
                                    Hotel & Restaurants
                                </button>
                            </h2>
                            <div id="flush-collapseNine" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample4">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Hotel ERP and PMS</a></li>
                                        <li><a href="#">Club Management</a></li>
                                        <li><a href="#">Golf Management</a></li>
                                        <li><a href="#">Restaurant</a></li>
                                        <li><a href="#">Management</a></li>
                                        <li><a href="#">Booking Software</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTen">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTen" aria-expanded="false"
                                    aria-controls="flush-collapseTen">
                                    Education
                                </button>
                            </h2>
                            <div id="flush-collapseTen" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample4">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Education Software</a></li>
                                        <li><a href="#">E-Learning & LMS</a></li>
                                        <li><a href="#">School ERP Software</a></li>
                                        <li><a href="#">Campus Management</a></li>
                                        <li><a href="#">Library Management</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="accordion accordion-flush" id="accordionFlushExample4">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFives">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFives" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    Health Care
                                </button>
                            </h2>
                            <div id="flush-collapseFives" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFives" data-bs-parent="#accordionFlushExample4">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">EMR Software</a></li>
                                        <li><a href="#">HIS</a></li>
                                        <li><a href="#">Lab Management</a></li>
                                        <li><a href="#">Medical Billing</a></li>
                                        <li><a href="#">Software</a></li>
                                        <li><a href="#">Doctor Appointment</a></li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSixs">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSixs" aria-expanded="false"
                                    aria-controls="flush-collapseSixs">
                                    Construction
                                </button>
                            </h2>
                            <div id="flush-collapseSixs" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingSixs" data-bs-parent="#accordionFlushExample4">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Project Software</a></li>
                                        <li><a href="#">Procurement Software</a></li>
                                        <li><a href="#">Apartment Software</a></li>
                                        <li><a href="#">Real Estate Software</a></li>
                                        <li><a href="#">Planning Software</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSevens">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseSevens" aria-expanded="false"
                                    aria-controls="flush-collapseSevens">
                                    Retail & E-Commerce
                                </button>
                            </h2>
                            <div id="flush-collapseSevens" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingSevens" data-bs-parent="#accordionFlushExample4">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Inventory Software</a></li>
                                        <li><a href="#">Point of Sale System</a></li>
                                        <li><a href="#">Outlet & Store Software</a></li>
                                        <li><a href="#">Billing Software</a></li>
                                        <li><a href="#">E-Commerce Software</a></li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingEights">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseEights" aria-expanded="false"
                                    aria-controls="flush-collapseEights">
                                    Web & Online
                                </button>
                            </h2>
                            <div id="flush-collapseEights" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingEights" data-bs-parent="#accordionFlushExample4">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Web Hosting</a></li>
                                        <li><a href="#">Cloud Hosting Software</a></li>
                                        <li><a href="#">Web Security Software</a></li>
                                        <li><a href="#">Web Analytics</a></li>
                                        <li><a href="#">Digital Marketing & SEO</a></li>
                                        <li><a href="#">Tools</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingNines">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseNines" aria-expanded="false"
                                    aria-controls="flush-collapseNines">
                                    Transportation
                                </button>
                            </h2>
                            <div id="flush-collapseNines" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingNines" data-bs-parent="#accordionFlushExample4">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">GPS Tracking</a></li>
                                        <li><a href="#">Taxi Booking App</a></li>
                                        <li><a href="#">Shipping & Delivery</a></li>
                                        <li><a href="#">Manufacturing</a></li>
                                        <li><a href="#">Software</a></li>
                                        <li><a href="#">Warehouse</a></li>
                                        <li><a href="#">Management</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTens">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTens" aria-expanded="false"
                                    aria-controls="flush-collapseTens">
                                    Data Management
                                </button>
                            </h2>
                            <div id="flush-collapseTens" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTens" data-bs-parent="#accordionFlushExample4">
                                <div class="accordion-body">
                                    <ul>
                                        <li><a href="#">Backup Software</a></li>
                                        <li><a href="#">Data Management</a></li>
                                        <li><a href="#">Software</a></li>
                                        <li><a href="#">data Recovery Software</a></li>
                                        <li><a href="#">Electronic Data</a></li>
                                        <li><a href="#">Interchange</a></li>
                                        <li><a href="#">Information Extractor</a></li>
                                        <li><a href="#">Software</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- SOFTWARE CATEGORIES END -->



    <br>
    <!-- footer start -->

    <!-- footer end -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById('loginBtn').addEventListener('click', function () {
            document.getElementById('popupContainer').style.display = 'flex';
        });

        document.getElementById('popupContainer').addEventListener('click', function (e) {
            if (e.target.id === 'popupContainer') {
                document.getElementById('popupContainer').style.display = 'none';
            }
        });


        document.addEventListener('DOMContentLoaded', function () {
            // Get the close button
            var closeBtn = document.getElementById('closeBtn');

            // Get the popup container
            var popupContainer = document.getElementById('popupContainer');

            // Add click event listener to the close button
            closeBtn.addEventListener('click', function () {
                // Hide the popup container
                popupContainer.style.display = 'none';
            });
        });
    </script>

</body>

</html>

{% endblock %}